<div class = "main-body">
    <h3>Use this page to make adjustments to the list of academic program codes</h3>
  <br>
    {{add-code flag="academic-program-code"}}
    <br>
    <table class="student-table">
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
      {{#each model as |oneAcademicProgramCode|}}
      <tr>
        <td>
          <div class="large-6-columns">
            {{oneAcademicProgramCode.name}}
          </div>
          <div></div>
        </td>
        <td>
          {{edit-code flag="academic-program-code" id=oneAcademicProgramCode.id}}
        </td>
      </tr>
      {{/each}}
    </table><br>
</div>

