<div class = "main-body">
    {{add-code flag="highschoolSubject"}}
    <br>
    <h3>Current Highschool Subjects</h3>
    <table class="student-table">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
      {{#each model as |oneHighschoolSubject|}}
      <tr>
        <td >
          <div class="large-6-columns">
            {{oneHighschoolSubject.name}}
          </div>
          <div></div>
        </td>
        <td >
          <div class="large-6-columns">
            {{oneHighschoolSubject.description}}
          </div>
          <div></div>
        </td>
        <td>
          {{edit-code flag="highschoolSubject" id=oneHighschoolSubject.id}}
        </td>
      </tr>
      {{/each}}
    </table><br>
</div>
