<link rel="stylesheet" type="text/css" href="../../../styles/app.css">
<div class="main-body">
    <h3 id="welcome">Welcome to the Student Admission System</h3>
    <p>This software was designed to organize the students of Western's Faculty of Engineering and place them in their respective disciplines.</p>
    <ul>
        <li>How to use the system in the first place</li>
        <li>What it is capable of doing</li>
    </ul>
    <p>Click the main title to return to the homepage.</p>
</div>
{{outlet}}
